*{
  margin: 0px;
  padding: 0px;
}
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header, .App-footer {
  background-color: #222;
  padding: 20px;
  color: white;
}
.App-header{
  margin-bottom: 20px;
}
.App-footer{
  margin-top: 20px;
}

.App-title {
  font-size: 1.5em;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.requestBlock{
  display: inline-block;
  border: 2px solid #222;
  padding: 20px;
  position: relative;
}
.requestBlock .lable{
  text-align: left;
  font-weight: 700;
}
.requestBlock .resetButton{
  background-color: #222;
  color: #fff;
  text-align: center;
  padding: 10px;
  cursor: pointer;
  margin-top: 10px;
}
#currentStamp{
  margin: 10px;
  color: #aaa;
  font-weight: 900;
}
#UNIXstamp{
  margin-top: 20px;
  font-weight: 100;
  color: #ccc;
}
#UNIXstamp time{
  font-weight: 700;
  font-size: 1.5em;
  color: #fff;
}
.stampInfo{
  font-size: 0.7em;
  color: #999;
}
.apiRef{
  font-size: 0.54em;
  text-align: left;
  text-decoration: underline;
  color: #373737;
  position: absolute;
  left: 22px;
  top: 5px;
}